<ion-header>
  <ion-toolbar>
    <ion-title>Daftar Pegawai</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-button [routerLink]="['/createpegawai']">
    Tambah peserta
  </ion-button>
  <ion-list>
    <ion-item-sliding *ngFor="let item of dataPegawai">
      <ion-item>
        <ion-label>
          <h2>{{ item.npp }}</h2>
          <h2>{{ item.nama }}</h2>
          <h3>{{ item.jabatan }}</h3>
        </ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="warning"
          (click)="apiEditPegawai(item)">
            <ion-icon name="create">
            </ion-icon>
          </ion-item-option>
          <ion-item-option color="danger"
          (click)="apiDeletePegawai(item)">
          <ion-icon name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>